<div data-aos="fade-up">
<h3 class="card-title">Internet Banking Password Setup
</h3>
<!-- basic-info -->
<div class="basic-info">
    <form class="form" (ngSubmit)="onSubmit()" #basicDetails="ngForm">
        <div class="row">

            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label for="password" class="form-label">Password <span><a href="#" class="tooltip-oao" data-toggle="tooltip" data-placement="top" title="Password specifications to be included here."><img src="/assets/images/tooltip.svg" alt=""></a></span></label>
                    <input type="password" class="form-control txtbox" id="pwd" [(ngModel)]="pwd" name="password" #password="ngModel">
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label for="repassword" class="form-label">Re-enter password </label>
                    <input type="password" class="form-control txtbox" (keyup)="onKeyUp()" id="rpwd" [(ngModel)]="rpwd" name="repassword" #repassword="ngModel">
                </div>
            </div>


            <div class="form-btn-wrapper">
                <!--<a tabindex="0" class="btn btn-form-primary ladda-button" data-style="expand-right" id="passwordInfoSubmit"><span class="ladda-label">CONTINUE</span></a>-->
                <button id="continue" style="margin-top: 15px;" type="submit" class="btn btn-form-primary ladda-button" data-style="expand-right"><span class="ladda-label">CONTINUE</span></button>
            </div>
        </div>
    </form>
</div>
</div>
<!--chandan-->
<div id="success-modal" class="modal fade " role="dialog">
    <div class="modal-dialog modal-pop matching-customer-details">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-body">
                <div class="matching-customer-des">
                    <button type="button" class="close address-info" (click)="setFalse()" data-dismiss="modal"><img src="/assets/images/close.svg" alt=""></button>
                    <div class="center-content">
                        <span class="info-icon"><img src="/assets/images/info.svg" alt=""></span>

                        <div class="existing-member-login">
                            <div class="error-alert">
                                <div class="alert alert-success ">
                                    Thank you for Registering Internet banking <strong>{{model.fName}}</strong>. Your user Id <strong>{{model.userId}}</strong>.
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <a [routerLink]="['/home']" (click)="reload()" class="btn btn-secondary" data-dismiss="modal">Home</a>
                        <a [routerLink]="['/login']" (click)=" changeLoginFlag()" class="btn btn-secondary" data-dismiss="modal">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>