<div class="wrapper">
    <oao-header></oao-header>
    <!-- Page Content -->
    <div class="page-content-info">
        <div class="info-bg">
            <div class="container">
                <h1 class="page-title">{{model.product_type}}</h1>

                <div class="row hidden-xs name-progress-bar" style="margin-top:-15px">
                    <div class="col-md-12">
                        <div class="progress" id="progress1">
                            <div class="progress-bar" [style.width.%]="width1" id="myBar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <div class="progress" id="progress2">
                            <div class="progress-bar2" [style.width.%]="width2" id="myBar2" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                    <div class="progress-group col-md-12">
                        <div class="custom-name-progress-bar" [style.width.%]="constWidth" *ngFor="let configData of progressBarConfig | objectToArray">
                            <button class="progress-button">{{configData.name}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-card">
            <div class="number-progress-bar" id="progressBar">


                <div class="horizontal-step-nav">
                    <ul>
                        <li [style.width.%]="constWidth" *ngFor="let configData of progressBarConfig | objectToArray; let i = index" [ngClass]="stepStatus[i]"><span class="stepvalue">{{configData.value}}</span><span class="stepvalue-hidden"><img src="/assets/images/tick.svg" alt=""></span></li>
                    </ul>
                </div>
            </div>
            <router-outlet></router-outlet>
            <!-- //basic-info -->
        </div>
    </div>
    <!-- //Page Content -->

</div>
<oao-footer></oao-footer>