<div data-aos="fade-up">
    <h3 class="card-title">Personal Information
        <span class="enble-joint">
                  <a href="basic-information-joint.html">
                  Enable joint applicant
                  </a>
                  </span>
    </h3>
    <!-- basic-info -->
    <div class="basic-info">
        <h6 class="form-heading">Give us some Basic Information</h6>
        <form (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-4 col-sm-6 has-min-height-106">

                    <div [ngClass]="{'form-group has-success has-feedback':(fname.valid && fname.dirty  ) }">
                        <div [ngClass]="{'form-group has-error has-feedback':(fname.invalid && fname.dirty )}">
                            <label for="fname" class="form-label">First name </label>
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <select class="form-control txtbox" id="title" [(ngModel)]="model.title" name="title" #title="ngModel">
                                          <option value="0" >Title</option>
                                          <option *ngFor="let details of items" [ngValue]= "details"  >
                                                  {{details}} 
                                       </option>
                                    </select>
                                </div>
                                <!-- /btn-group -->
                                <input type="text" class="form-control txtbox" [(ngModel)]="model.fname" id="fname" name="fname" #fname="ngModel" nameValidate>
                                <span [ngClass]="{'glyphicon glyphicon-ok form-control-feedback':(fname.valid && fname.dirty )}"></span>
                                <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback':(fname.invalid && fname.dirty )}"></span>
                            </div>
                            <small [hidden]="!((fname.valid && fname.dirty ) && model.title=='0')" class="text-danger">
                            {{configMsg?.title}} 
                                </small>
                            <small [hidden]="fname.valid || fname.pristine || model.fname==null || model.fname==''" class="text-danger">
                                {{configMsg?.name}} <!--This is a required field and Can contain letters and apostrophe-->
                                </small>
                        </div>
                        <!-- /input-group -->
                    </div>

                </div>
                <div class="col-md-4 col-sm-6 has-min-height-106">

                    <div [ngClass]="{'form-group has-success has-feedback':(mname.valid && mname.dirty ) }">
                        <div [ngClass]="{'form-group has-error has-feedback':(mname.invalid && mname.dirty && (!model.mname==''))}">
                            <label for="mname" class="form-label">Middle name (Optional) </label>
                            <input type="text" class="form-control txtbox" [(ngModel)]="model.mname" id="mname" name="mname" #mname="ngModel" nameValidate>
                            <span [ngClass]="{'glyphicon glyphicon-ok form-control-feedback':(mname.valid && mname.dirty )}"></span>
                            <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback':(mname.invalid && mname.dirty && (!model.mname==''))}"></span>
                            <small [hidden]="mname.valid || mname.pristine || model.mname==null || model.mname==''" class="text-danger">
                                {{configMsg?.mname}} <!--This is a required field and Can contain letters and apostrophe-->
                                </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 has-min-height-106">
                    <div [ngClass]="{'form-group has-success has-feedback':(lname.valid && lname.dirty ) }">
                        <div [ngClass]="{'form-group has-error has-feedback':(lname.invalid && lname.dirty )}">
                            <label for="lname" class="form-label">Last name  </label>
                            <input type="text" class="form-control txtbox" [(ngModel)]="model.lname" id="lname" name="lname" #lname="ngModel" nameValidate>
                            <span [ngClass]="{'glyphicon glyphicon-ok form-control-feedback':(lname.valid && lname.dirty )}"></span>
                            <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback':(lname.invalid && lname.dirty )}"></span>
                            <small [hidden]="lname.valid || lname.pristine || model.lname==null || model.lname==''" class="text-danger">
                                {{configMsg?.name}} <!--This is a required field and Can contain letters and apostrophe-->
                                </small>
                        </div>
                    </div>


                </div>
                <div class="col-md-4 col-sm-6 has-min-height-106">
                              <!--<input type="hidden" required="required" value=""  [(ngModel)]="model.app_id" name="app_id" #app_id="ngModel" />-->
                           <div class="form-group">
								<div [ngClass]="{'form-group has-success has-feedback':(email.valid && email.dirty) }">
									<div [ngClass]="{'form-group has-error has-feedback':(email.invalid && email.dirty)}">
                              <label for="email" class="form-label">Email ID </label>
										<input type="email" (keyup)="changeCallMatchingCustomerFlag()"  class="form-control txtbox saveInfo" id="email" [(ngModel)]="model.email" placeholder="name@email.com"
											name="email" #email="ngModel" emailValidator >
										<span [ngClass]="{'glyphicon glyphicon-ok form-control-feedback':(email.valid && email.dirty)}"></span>
										<span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback':(email.invalid && email.dirty)}"></span>
									<small [hidden]="email.valid || (email.pristine )" class="text-danger">
                               {{configMsg?.email}}  <!--This is a required field or Enter in abc@xyz.com format -->
                                </small>
                                    </div>
								</div>

                           </div>

                        </div>
						<div class="col-md-4 col-sm-6 has-min-height-106">
                           <div class="form-group">
								<div [ngClass]="{'form-group has-success has-feedback':(mobile.valid && mobile.dirty) }">
									<div [ngClass]="{'form-group has-error has-feedback':(mobile.invalid && mobile.dirty)}">

										<label for="mobile" class="form-label">Mobile number </label>
										<input type="text"(keyup)="changeCallMatchingCustomerFlag()" class="form-control txtbox saveInfo" id="mobile" [(ngModel)]="model.mobile" placeholder="04XXXXXXXX" name="mobile"
											#mobile="ngModel" mobValidator>
										<span [ngClass]="{'glyphicon glyphicon-ok form-control-feedback':(mobile.valid && mobile.dirty)}"></span>
										<span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback':(mobile.invalid && mobile.dirty)}"></span>
									 <small [hidden]="mobile.valid || (mobile.pristine )" class="text-danger">
                                          {{configMsg?.mobile}}   <!--This is a required field  -->
                              </small>
                                    </div>
								</div>

                           </div>

                        </div>
                <div  class="col-md-4 col-sm-6 has-min-height-106" style="top:28px">
                    <div id="dob" >
                    <md2-datepicker placeholder="Date of birth" [(ngModel)]="model.dob" name="dob" #dob (click)="dispDate(dob.value)" [required]="isRequired" [disabled]="isDisabled" [openOnFocus]="isOpenOnFocus" [isOpen]="isOpen" [type]="date" [min]="minDate" [max]="maxDate"
                        [mode]="mode" [container]="container" #dateControl="ngModel">
                    </md2-datepicker>
                    </div>
                </div>
               <div class="visible-xs"> <br>
               <br>
               <br>
               
               </div>
                 <div class="col-md-4 col-sm-6 has-min-height-106">

                    <div [ngClass]="{'form-group has-success has-feedback':(brokerid.valid && brokerid.dirty ) }">
                        <div [ngClass]="{'form-group has-error has-feedback':(brokerid.invalid && brokerid.dirty && (!model.brokerid==''))}">
                            <label for="brokerid" class="form-label">Broker id (Optional) </label>
                            <input type="text" class="form-control txtbox" [(ngModel)]="model.brokerid" id="brokerid" name="brokerid" #brokerid="ngModel" >
                            <span [ngClass]="{'glyphicon glyphicon-ok form-control-feedback':(brokerid.valid && brokerid.dirty )}"></span>
                            <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback':(brokerid.invalid && brokerid.dirty && (!model.brokerid==''))}"></span>
                           <!-- <small [hidden]="brokerId.valid || brokerId.pristine || model.brokerId==null || model.brokerId==''" class="text-danger">
                                {{configMsg?.mname}} 
                                </small>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-btn-wrapper test-top">
                <a tabindex="-1" [routerLink]="['../singleJoint']" (click)="clear()" class="btn btn-icon-back"> <img src="/assets/images/back-icon.svg" alt="back-icon" tabindex="0"> </a>
                <!--<a tabindex="0" class="btn btn-form-primary ladda-button" data-style="expand-right" id="basicInfoSubmit" ><span class="ladda-label">SAVE & CONTINUE</span></a>-->
                <button type="submit" tabindex="0" class="btn btn-form-primary" [ladda]="isLoading" data-style="expand-right" data-spinner-color="white" [disabled]="!fname.valid || model.dob=='' || !lname.valid || model.title=='0'||model.dob==null ||!email.valid||!mobile.valid"><span class="ladda-label">SAVE & CONTINUE</span></button>


            </div>
        </form>
    </div>
</div>
 <div id="matching-customer-modal" class="modal fade " role="dialog">
         <div class="modal-dialog modal-pop matching-customer-details">
            <!-- Modal content-->
            <div class="modal-content ">
               <div class="modal-body">
                  <div class="matching-customer-des">
                     <button (click)="laddaclose()" type="button" class="close address-info" data-dismiss="modal"><img src="/assets/images/close.svg" alt=""></button>
                     <div class="center-content">
                        <span class="info-icon"><img src="/assets/images/info.svg" alt=""></span>
                        <h2>Matching customer <br>
                           details found!
                        </h2>
                        <div class="existing-member-login">
                           <div class="error-alert  user-match">
                              <div class="alert-msg matchingmember"> {{wrn_001}}
                              </div>
                              <div class="clearfix"></div>
                           </div>
                        </div>
                        <a [routerLink]="['/login']" class="btn btn-secondary" data-dismiss="modal">CLICK TO LOGIN</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div id="success" class="modal fade " role="dialog" data-backdrop="static" data-keyboard="false">
         <div class="modal-dialog modal-pop matching-customer-details">
            <!-- Modal content-->
            <div class="modal-content ">
               <div class="modal-body">
                  <div class="success-modal">

                     <div class="center-content">
                        <span class="info-icon successicon"><img src="/assets/images/success.svg" alt=""></span>
                        <h2>Application <br/>
                           successfully saved
                        </h2>
						<p class="cust-id">Application reference : <strong>{{model.application_id}}</strong></p>
                        <div class="existing-member-login">
                           <div class="info-alert  center-msg">
                              <div class="alert-msg"> {{inf_001}}
                              </div>
                              <div class="clearfix"></div>
                           </div>
                        </div>
                        <div class="form-btn-wrapper">

                            <button (click)="setForwardProgressData()" class="btn btn-form-primary address-info" [routerLink]="['../personalContactInfo']" data-dismiss="modal" autofocus> CONTINUE </button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>